rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Completely open access for everyone to fix any firebase permission issues
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
